<template name="dashboardLayout">
	{{#globalLayout}}
		<core-drawer-panel data-drawer-panel>
			<core-header-panel navigation flex mode="seamed" drawer>
				<core-toolbar>Application Name</core-toolbar>
				<core-menu>
					<core-item icon="settings" label="dashboard">
						<a href="/dashboard"></a>
					</core-item>
					<core-item icon="user" label="account">
						<a href="/account"></a>
					</core-item>
				</core-menu>
			</core-header-panel>
			<core-header-panel mode="waterfall" main>
				<core-toolbar class="toolbar toolbar-primary">

					<paper-icon-button class="hidden-md narrow" icon="menu" 
						data-action="toggle-drawer">
					</paper-icon-button>

					<div horizontal end-justified layout class="rightMenu">
						<a href="{{pathFor route='logout'}}">
							Sign Out
						</a>
					</div>

				</core-toolbar>

				<div class="content">
					{{#if UI.contentBlock}}
						{{> UI.contentBlock}}
					{{else}}
						{{#momentum plugin='iron-router' options=transition}}
			        		{{>yield}}
		        		{{/momentum}}
					{{/if}}
				</div>

			</core-header-panel>
		</core-drawer-panel>
	{{/globalLayout}}
</template>