<template name="dashboard">
	<div fit>
	  	<paper-tabs id="dashboardTabs" selected="{{selected}}">
	  		<paper-tab>Reactive Example</paper-tab>
			<paper-tab>Button Examples</paper-tab>
			<paper-tab>Input Examples</paper-tab>
		</paper-tabs>

		<core-pages selected="{{selected}}">
			<div>
				<!-- page 1 -->
				<h3>Below is an autogrowing textarea</h3>
				<p>Any logged-in user can edit!</p>
				<paper-input-decorator label="Autogrowing Textarea">
		      		<paper-autogrow-textarea>
			        	<textarea></textarea>
			      	</paper-autogrow-textarea>
			    </paper-input-decorator>
			</div>

			<div> 
				<!-- page 1 -->

				<h4>Flat buttons</h4>
				<paper-button>button</paper-button>
				<paper-button class="colored">colored</paper-button>
				<paper-button disabled>disabled</paper-button>
				<paper-button noink>noink</paper-button>

				<hr/>

				<h4>Raised buttons</h4>
				<paper-button raised>button</paper-button>
				<paper-button raised class="colored">colored</paper-button>
				<paper-button raised disabled>disabled</paper-button>
				<paper-button raised noink>noink</paper-button>
				
				<hr/>

				<h4>Custom button content</h4>
				<paper-button class="colored custom">
					<core-icon icon="check"></core-icon> ok
				</paper-button>
				<paper-button class="custom">
					<core-icon icon="clear"></core-icon> cancel
				</paper-button>
				<br/>
				<paper-button>
					<a href="https://www.polymer-project.org" target="_blank">link (polymer)</a>
				</paper-button>

				<hr/>

				<h4>Toggle buttons</h4>
				<paper-button toggle>button</paper-button>
				<paper-button toggle raised noink>noink</paper-button>
				<paper-button toggle active class="colored">active</paper-button>
				<paper-button toggle raised active class="colored">active</paper-button>

				<hr/>

				<h4>Styling options</h4>
				<paper-button class="hover">hover</paper-button>
				<paper-button class="blue-ripple">custom ripple</paper-button>

			</div>

			<div>
				<!-- page 2 -->
				
				<h4>Standalone</h4>
			    <paper-input label="label"></paper-input>
				<paper-input label="floating label" floatingLabel></paper-input>
				<paper-input label="disabled" disabled></paper-input>

				<hr/>
				  
			  	<h4>Decorator</h4>
			  	<paper-input-decorator label="with core-input">
		      		<input is="core-input">
			    </paper-input-decorator>

				<paper-input-decorator label="with core-input + floatingLabel" floatingLabel>
		      		<input is="core-input">
			    </paper-input-decorator>

				<paper-input-decorator label="with autogrowing text area">
		      		<paper-autogrow-textarea>
			        	<textarea></textarea>
			      	</paper-autogrow-textarea>
			    </paper-input-decorator>

		    	<paper-input-decorator label="with autogrowing text area + floatingLabel" floatingLabel>
		      		<paper-autogrow-textarea>
			        	<textarea></textarea>
		      		</paper-autogrow-textarea>
				</paper-input-decorator>

			    <hr/>

			    <h4>Auto-Validation</h4>
		    	<paper-input-decorator label="required" floatingLabel error="input is required!" autoValidate>
		      		<input is="core-input" required>
			    </paper-input-decorator>

				<hr/>

				<h4>Custom styling</h4>
				<paper-input class="custom" label="paper-input"></paper-input>
				<paper-input-decorator class="custom" label="decorator">
		      		<input is="core-input">
			    </paper-input-decorator>

			</div>

		</core-pages>
	</div>
</template>